.accueil-photos {
  background-color: white;
  padding: 80px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

section h1{
  color: #a5b4fc;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin-top: 100px;
  margin-left: 50px;
  align-items: flex-start; 
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}

.section-contact{
align-items: center;
margin-left: 200px;
}
.contenair{
    position: relative;
    width: 60vw;
    height: 70vh;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.contenair::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 60vw;
    height: 70vh;
    background: linear-gradient(0deg,transparent,
     #03fe78,#03fe78);
     transform-origin: bottom right;
     animation: animate 7s linear infinite;
}
.contenair::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 60vw;
    height: 70vh;
    background: linear-gradient(0deg,transparent,
    #d803f2,#d803f2);
    transform-origin: bottom right;
    animation: animate 7s linear infinite;
    animation-delay: 3s;
}
@keyframes  animate {
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 3px;
    border-radius: 8px;
    background: #24232a;
    z-index: 10;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h2{
    text-align: center;
    letter-spacing: 0.1rem;
    color: #03fe78;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: white;
  width: 100%;
  height: 100%;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

#nom,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
}

label {
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 200px;
  background: linear-gradient(#03fe78,#d803f2);
  color: white;
  border-radius: 50px;
  padding: 24px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: linear-gradient(#d803f2,#03fe78);
}

h1{
  font-size: 3em;
}

.photo{
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
  width: 100%;
}
.container{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 70vw;
  height: 20vh;
  margin-left: 100px;
  position: relative;
  top: 80px;
}
.container .cursor{
  background-color: red;
  width: 3px;
  animation: tankeu  1s infinite;

}
sup{
  font-size: 1.5em;
  color: #03fe78;
}
@keyframes tankeu {
    0%,49%{
        background-color: transparent;
    }
    50%,99%{
        background-color: red;
    }
    100%{
        background-color: transparent;
    }
}



@media screen and (max-width: 996px) {
  .accueil-introduction {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .accueil-introduction div {
    padding-right: 0;
    text-align: center;
    order: 2;
  }

  .accueil-introduction img {
    order: 1;
    width: 80%;
    height: 80%;
  }

  .accueil-photos {
    padding: 20px;
  }

  .accueil-photos div {
    flex-direction: column;
    width: 100%;
  }


  .form-nom-email {
    flex-direction: column;
    gap: 0;
  }
   .contenair {
    height: 70vh;
  }
  .contenair::before{
    height: 70vh;
  }
  .contenair::after{
    height: 70vh;
  }
   
}