/* donne un arrier plan blanc a la section */
.portfolio-section-photos {
  background-color: white;
}
/* ajoute une couleur noir et augmente la marge exterieur du bas de 80px */
.portfolio-section-photos h2 {
  color: #242424;
  margin-bottom: 80px;
}


/* pour aligner les paysages */
.grid-paysages {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

/* pour que l'image prenne toute la largeur et la hauteur du conteneur */
.grid-paysages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* position des liens par rapport a la section */
.lien-conteneur-photo {
  position: relative;
}
/* donner l'effet a chaque lien image */
.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
/* appliquer l'effet lors du survol de l'image */
.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

